:root {
  --primary-color: rgb(245, 228, 0);
  --secondary-color: rgb(100,130,32); 
  --background-color: #000;
  --foreground-color: #fff;
}

body {
  padding: 2rem 0;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: AlphaEcho, sans-serif;
  font-weight: 400;
  text-align: center;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.button {
  display: block;
  border-radius: 1rem;
  margin: 0 auto;
  font-size: 2rem;
  color: #fff;
  border: 0px;
  padding: 1rem 2rem;
  font-family: AlphaEcho, sans-serif;
  background-color: var(--secondary-color);
  border: 0.5rem solid var(--foreground-color);
}